* {
  padding: 0;
  margin: 0;
}

#mainNav {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;

  /* background-color: grey; */
  align-items: center;
  align-content: center;
}

#ham {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#logo {
  width: 124px;
  height: auto;
  cursor: pointer;
}

#search-area {
  display: flex;
  justify-content: space-between;
}

#search-area form {
  display: flex;
  align-items: center;
  position: relative;
}

#search-area input {
  width: 563px;
  height: 20px;
  padding: 10px;
  font-size: 20px;
}

#search {
  height: 100%;
  width: 64px;

  /* background-color: lightgrey; */
  border: none;
  position: absolute;
  right: 0;
}

#search-area #mic {
  border-radius: 50%;
  height: 44px;
  width: 44px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

#left {
  display: flex;
  align-items: center;
  align-content: center;
}

#left #ham {
  padding-left: 10px;
  padding-top: 10px;
  margin-right: 15px;
}

#right {
  display: flex;
  width: 150px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

#right i {
  cursor: pointer;
}

.likes-container span {
  padding-right: 15px;
  cursor: pointer;
}

.all-row span {
  padding: 3px 7px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
}

#right span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: palegreen;
  cursor: pointer;
}

/* #right span {
  justify-content: center;
  display: flex;
  border: 1px solid black;
  width: 25px;
  height: 32px;
  border-radius: 40%;
  background-color: green;
  cursor: pointer;
} */

section {
  background-color: #f9f9f9;
  height: 100vh;
  padding: 25px 50px 15px 70px;
  display: flex;
  justify-content: space-between;
}

#you-tags {
  padding: 15px 0 5px 0;
  color: blue;
  display: block;
}

#music-title {
  font-size: 20px;
  font-weight: bold;
}

.view-like-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.views {
  padding-top: 5px;
  color: rgb(146, 140, 140);
}

.play-list img {
  width: 24px;
  height: 24px;
}

.all-row .all {
  background-color: black;
  color: white;
}

.video-area {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  cursor: pointer;
}

.sub-video-container {
  position: relative;
}

.sub-video-container img {
  width: 178px;
  height: 98px;
}

.sub-video-container p {
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 40px;
  position: absolute;
  bottom: 7px;
  right: 5px;
}

.text-title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 15px;
}

.artist-name,
.views-area {
  color: gray;
}

.artist-name span img {
  height: 10px;
  width: 10px;
}
